@import "css-spinners";

article.post {
  display: none;
}

.loading-indicator-container {
  padding: 20% 0;
  text-align: center;
}

.loading-indicator {
  display: inline-block;
}

.loading-indicator-text {
  display: block;
}